[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blackfire = ">=1.7.1"
Django = ">=3.1.8,<4.0"
Faker = ">=6.6.1"
gunicorn = "*"
platformshconfig = "~=2.0"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
